@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Chakra Petch', sans-serif;
    width: 100%;
    background-image: radial-gradient(circle, #63DB24 0%, #0A1604 100%);
}

.container {
    height: 90vh;
  }

.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    box-shadow: 1px 1px #63DB24;
    background-color: #0A1604;
    color: #63DB24;
    padding-top: 3%;
    padding-bottom: 3%;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 30px;
    font-weight: bold;
}

table {
    width: 550px; 
    height: 350px; 
    border: 1px solid black;
}
	
table tr { 
    background-color:#63DB24; 
    font: bold 46px Verdana; 
    color: white;
}
	
table tr td {
    text-align: center; 
    width: 33.33%;
}

table tr td:hover {
    cursor: pointer;
}
	
input[type=button] {
    width: 150px; 
    height: 50px; 
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 20px;
}
	
fieldset {
    font-size:20; 
    font-weight:bold; 
    border:2px solid #0A1604; 
    width: 300px; 
    margin-bottom: 25px;
}