@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Chakra Petch', sans-serif;
    width: 100%;
    background-image: radial-gradient(circle, #63DB24 0%, #0A1604 100%);
}

.divider {
    border: solid #0A1604 2px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;

  }

.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    box-shadow: 1px 1px #63DB24;
    background-color: #0A1604;
    color: #63DB24;
    padding-top: 3%;
    padding-bottom: 3%;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 30px;
    font-weight: bold;
}

.hero2 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 30px;
    font-weight: bold;
}

.opening {
    box-shadow: 1px 1px 1px 1px #63DB24;
    margin-top: 3%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-bottom: 3%;
}

.clock {
    align-items: center;
    background-color: #63DB24;
    border: 5px solid #0A1604;
    border-radius: 3%;
    color: #0A1604;
    display: inline-flex;
    justify-content: center;
    font-size: 60px;
    height: 20%;
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    box-shadow: 3px 3px 3px 3px #0A1604;
  }
